*{
  margin: 0;
  padding: 0;
}
figure{
  line-height: 0;
}
img{
  width: 100%;
}
body{
  background-color: hsl(212, 45%, 89%);
}
.bg_white{
  max-width: 400px;
  width: 100%;
  margin: 100px auto 20px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
}
.bg_white figure img{
  border-radius: 20px;
}
.bg_white h5, .bg_white p{
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.bg_white h5{
  font-size: 24px;
  line-height: 30px;
  padding-top: 30px;
}
.bg_white p{
  font-size: 20px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.attribution { font-size: 20px; text-align: center; margin-bottom: 30px; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none; cursor: pointer;}
@media (max-width: 767px){
  body::-webkit-scrollbar {
    display: none;
  }
  body{
    padding: 0 calc(40 / 750 * 100vw);
    box-sizing: border-box;
  }
  .bg_white{
    max-width: 100%;
    margin: calc(100 / 750 * 100vw) auto calc(20 / 750 * 100vw);
    border-radius: calc(30 / 750 * 100vw);
    padding: calc(20 / 750 * 100vw);
  }
  .bg_white figure img{
    border-radius: calc(20 / 750 * 100vw);
  }
  .bg_white h5, .bg_white p{
    padding: 0 calc(20 / 750 * 100vw);                
  }
  .bg_white h5{
    font-size: calc(48 / 750 * 100vw);
    line-height: calc(60 / 750 * 100vw);
    padding-top: calc(30 / 750 * 100vw);
  }
  .bg_white p{
    font-size: calc(36 / 750 * 100vw);
    line-height: calc(40 / 750 * 100vw);
    padding-top: calc(20 / 750 * 100vw);
    padding-bottom: calc(20 / 750 * 100vw);
  }
  .attribution { 
    font-size: calc(20 / 750 * 100vw);
    margin-bottom: calc(30 / 750 * 100vw);
  }
}